@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* Nav Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  padding: 24px 160px;
}

body {
  background-color: rgba(245, 245, 245, 1);
}

nav h3 {
  font-size: 32px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}

.btn-primary {
  color: rgba(0, 106, 80, 1);
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  border: 2px solid #8cb6a2;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background: none;

  transition: all 0.3s ease;
}
nav .btn-primary:hover {
  background: linear-gradient(rgb(116, 179, 150), rgba(0, 106, 80, 1));
  color: white;
}

/* Banner section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4d6;
  border-radius: 24px;
  background-repeat: no-repeat;

  margin: 20px 75px;
}

.banner-content {
  padding: 60px 58px;
}
.banner-img {
  width: 475px;
  height: 400px;
}
.banner h6 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
}
.banner h1 {
  font-size: 56px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  padding-top: 16px;
  padding-bottom: 24px;
}

.common-btn a {
  text-decoration: none;
  color: white;
}

.common-btn {
  color: white;
  padding: 15px 30px;
  border-radius: 8px;

  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background: rgba(0, 106, 80, 1);
  transition: all 0.3s ease;
}

.common-btn:hover {
  box-shadow: 0 0 50px white;
  background-color: rgb(51, 161, 134);
  font-size: 19px;
}

/* Pillars Section */
.pillars {
  padding: 24px 80px;
}
.pillars h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  padding-bottom: 32px;
}

.pillars .card h5 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(14, 14, 14, 0.8);
}
.pillars .card p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.pillars-container {
  display: flex;
  gap: 24px;
}
.card {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
}

/* future styles */
.future {
  padding: 24px 80px;
}
.future h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
}
.future p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.future-container {
  display: flex;
  gap: 24px;
}
.vision {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  cursor: pointer;
}

.dark-1 {
  background-color: rgba(84, 144, 245, 0.2);
}

.dark-2 {
  background-color: rgba(198, 228, 214, 1);
}
.dark-3 {
  background-color: rgba(247, 235, 207, 1);
}

.dark-1:hover {
  background: linear-gradient(#8cabef, #5773af);
  color: white;
}
.dark-2:hover {
  background: linear-gradient(rgba(198, 228, 214, 1), rgb(101, 201, 154));
  color: white;
}

.dark-3:hover {
  background: linear-gradient(rgba(247, 235, 207, 1), rgb(245, 207, 119));
  color: white;
}

.dark-1 .common-btn {
  background-color: rgba(84, 144, 245, 1);
}
.dark-2 .common-btn {
  background-color: rgba(9, 161, 92, 1);
}
.dark-3 .common-btn {
  background-color: rgba(255, 194, 57, 1);
}

/* quote style */
.quote {
  margin: 20px 80px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
}
.quote-content {
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;

  padding-top: 25px;
}
.quote-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  padding-bottom: 12px;
}

.quote-content h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}
.quote-content h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.6);
}

/* opinion section */
.opinion h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 80px 80px 30px 80px;
}
.opinion-content {
  margin: 20px 80px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
}

.opinion .container {
  display: flex;
  justify-content: space-between;
}

.opinion .container th {
  font-size: 20px;
  font-weight: 600;

  color: rgba(14, 14, 14, 1);
}
.opinion .container td {
  font-size: 16px;
  font-weight: 600;

  color: rgba(14, 14, 14, 1);
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
}
th,
td {
  padding: 15px;
  text-align: left;
}
.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(198, 228, 214, 1);
}
th {
  background-color: rgba(198, 228, 214, 1);
  border: none;
}

/* News Section */
.news-head h3 {
  font-size: 40px;
  font-weight: bold;

  color: rgba(14, 14, 14, 1);
  padding-top: 80px;
}
.news-head p {
  font-size: 16px;
  font-weight: 400;

  color: rgba(14, 14, 14, 0.7);
  padding-top: 24px;
  padding-bottom: 28px;
}
.news-head {
  margin-left: 80px;
}
.news-container {
  margin: 20px 80px;
  border-radius: 24px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
}
span {
  padding: 4px;
}

.article {
  display: flex;

  align-items: center;
  margin-bottom: 20px;
}
.article img {
  width: 400px;
  height: 300px;
  margin-right: 40px;
  border-radius: 24px;
}
.article.reverse img {
  margin-right: 0px;
  order: 2;
}
.news-img {
  margin-left: 300px;
}

.article-content {
  max-width: 600px;
}
.article-title {
  font-size: 24px;
  margin: 0 0 10px;
}
.article-meta {
  display: flex;
  align-items: center;

  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}
.article-meta img {
  width: 130px;
  height: 40px;
  margin-right: 10px;
}
.article-text {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Donate section */
.donate {
  text-align: center;

  margin: 70px;
}

.donate h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}
.donate p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.donation-options {
  display: flex;
  justify-content: space-around;

  margin-bottom: 50px;
}

.donation-option .common-btn {
  padding: 40px 50px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.donation-option .common-btn:hover {
  background-color: rgba(198, 228, 214, 1);
  color: white;
}
.custom-amount {
  margin-bottom: 20px;
}
.custom-amount input {
  width: 80%;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #c6e4d6;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s;
  text-align: center;
}

.custom-amount input:focus {
  box-shadow: 0 0 0 0.4px rgba(198, 228, 214, 1);
  color: rgba(0, 106, 80, 1);
}

/* newsletter section */
.newsletter {
  margin: 80px;
}
.newsletter-head {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(14, 14, 14, 0.7);
}
.newsletter-head h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  padding-top: 60px;
}
.newsletter-head p {
  margin: 20px 0px;

  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.newsletter-head input[type="email"] {
  width: 40%;
  padding: 18px 40px;
  margin: 10px 0;
  border: 1px solid rgba(14, 14, 14, 0.3);
  border-radius: 10px 0px 0px 10px;
}
.newsletter-head button {
  padding: 18px 34px;
  background-color: #198754;
  color: rgba(14, 14, 14, 0.3);
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  margin-left: -5px;
}
.newsletter-head button:hover {
  background-color: rgba(0, 106, 80, 1);

  font-size: 15px;
}

.newsletter-head.note {
  margin-top: 24px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

/* footer */

footer {
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
  padding: 60px 30px;
  margin: 80px;
}

footer h1 {
  text-align: center;
  font-size: 32 px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  padding-bottom: 20px;
}
footer hr {
  margin: 30px 5px;
}
footer img {
  padding: 5px;
  cursor: pointer;
}

.footer-img {
  margin-left: 575px;
  padding: 5px;
}
